:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --neon-green-trans: hsla(150, 100%, 66%, 0.8);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

body {
  background-color: var(--dark-blue);
  font-family: 'Manrope', sans-serif;
  text-align: center;
}

h1 {
  color: var(--light-cyan);
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 15px;
}

p {
  color: var(--neon-green);
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 5px;
  padding-bottom: 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.advice-wrapper {
  width: fit-content;
  background-color: var(--dark-grayish-blue);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.advice-content {
  padding: 40px 40px 60px 40px;
}

@media(max-width: 375px) {
  .advice-content {
    padding: 40px 10px 60px 10px;
  }
}


.advice-button {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  background-color: var(--neon-green);
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* .disabled {
  pointer-events: none;
  background-color: lightgray;
  opacity: 0.3;
  transition: all 0.5 ease;
} */

button:hover {
  box-shadow: 0 0 30px var(--neon-green-trans);
  transform: scale(1.10);
  transition: all 0.5s ease-out;
}

button:active {
  box-shadow: 0 0 15px var(--neon-green-trans);
  transform: translateY(6px);
}
